# ======================C++ project==================

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# ======================C project==================

# Linker output
*.ilk
*.map
*.exp

# Shared objects (inc. Windows DLLs)
*.so.*

# Executables
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# ======================MATLAB project==================

# mexFunction
*.mexa64

# MAT-file
*.mat

# ==========================else========================

# Exact solution
# *.exact

# matrix data (data_in)
*.dat

# Tecplot data (data_out)
*.plt
*.tec

# Text Backup
*.*~
*.#*
*#
